@{
    ViewData["Title"] = "Welcome to Our Book Store";
}

<div class="text-center">
    <h1>Welcome to Our Book Store</h1>

    <p>Welcome to BookStore, your one-stop destination for exploring a curated collection of literature and efficiently managing your personal library.</p>

    <p>At BookStore, we believe in empowering your literary journey by providing you with a robust platform built on cutting-edge technologies. Our application runs on a Linux Ubuntu server, powered by a C# .NET 6 backend with Razor templating, ensuring a seamless and secure experience for our users.</p>

    <h2>Explore Our Collection</h2>

    <p>Ready to embark on your literary journey? Click below to explore our curated collection of books and unlock a world of literary wonders.</p>

    <a href="/Books" class="btn btn-primary">Explore Our Collection</a>

    <br><br><br><br>
    
    <p>Empower your understanding of <a href="https://docs.microsoft.com/aspnet/core">creating robust Web applications with ASP.NET Core</a>.</p>

</div>
