@{
    ViewData["Title"] = "Welcome to Our Book Store";
}

<div class="text-center">
    <h1 class="display-4">BookStore</h1>
    <p>Discover a curated collection of literature and efficiently manage your personal library.</p>
    <p>Empower your understanding of <a href="https://docs.microsoft.com/aspnet/core">creating robust Web applications with ASP.NET Core</a>.</p>

    <a href="/Books" class="btn btn-primary">Explore Our Collection</a>
</div>
